@primary-color: #2a9d8f;
@primary-color-hover: #55b1a5;
@primary-color-active: #227e72;

@background-color-light: fade(@primary-color, 10%);

@success-color: #2a9d8f;
@error-color: #db504a;
@warning-color: #f4a261;
@disabled-color: #969799;
@text-color: #323233;
@text-color-secondary: #969799;

@svl-bg: #f2f3f5;
