@primary-color: #2a9d8f;

@background-color-light: fade(@primary-color, 10%);

@success-color: '#2A9D8F';
@error-color: '#DB504A';
@warning-color: '#F4A261';
@disabled-color: '#969799';
@text-color: '#323233';
@text-color-secondary: '#969799';
