@import '../../style/index';

@width: 10px;
@height: 20px;
@widthReg: 10px;

.svl-tabs.svl-radius-tabs {
  > .ant-tabs-nav {
    &::before {
      display: none;
    }

    .ant-tabs-nav-wrap {
      padding: 6px 24px;
      background-color: @disabled-bg;
    }

    .ant-tabs-nav-list {
      padding: 5px;
      background-color: #fff;
      border: 1px solid @disabled-active-bg;
      border-radius: 22px;
    }

    .ant-tabs-tab {
      padding: 6px 20px;
      background-color: #fff;
      border: none;
      border-radius: 20px;

      &.ant-tabs-tab-active {
        background-color: @primary-color;

        .ant-tabs-tab-btn {
          color: #fff;
        }
      }

      .ant-tabs-tab-btn {
        font-weight: 400;
        line-height: 20px;
      }

      & + .ant-tabs-tab {
        margin-left: 24px;
      }
    }
  }
}

.svl-tabs.svl-out-radius-tabs {
  > .ant-tabs-nav {
    &::before {
      display: none;
    }
  }

  .ant-tabs-nav-wrap {
    padding: 6px 24px 0;
    background-color: @disabled-bg;
  }

  .ant-tabs-nav-list {
    padding: 0 5px;

    .ant-tabs-tab {
      background-color: transparent;
      border: none;
      padding: 8px 20px;

      & + .ant-tabs-tab {
        margin-left: 24px;
      }

      .ant-tabs-tab-btn::before {
        position: absolute;
        width: @widthReg;
        height: @widthReg;
        left: 0;
        background-color: #fff;
        bottom: 0;
        z-index: 1;
      }

      .ant-tabs-tab-btn::after {
        position: absolute;
        width: @widthReg;
        height: @widthReg;
        right: 0;
        background-color: #fff;
        bottom: 0;
        z-index: 1;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      &::before {
        position: absolute;
        background-color: @disabled-bg;
        left: 0;
        width: @width;
        height: @height;
        border-bottom-right-radius: 50px;
        bottom: 0;
        z-index: 2;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      &::after {
        position: absolute;
        background-color: @disabled-bg;
        right: 0;
        width: @width;
        height: @height;
        border-bottom-left-radius: 50px;
        bottom: 0;
        z-index: 2;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      &.ant-tabs-tab-active {
        border-radius: 20px 20px 0 0;
        background-color: #fff;

        &::before {
          content: ' ';
          left: -@width;
        }

        &::after {
          content: ' ';
          right: -@width;
        }

        .ant-tabs-tab-btn::before {
          content: ' ';
          left: -@widthReg;
        }

        .ant-tabs-tab-btn::after {
          content: ' ';
          right: -@widthReg;
        }
      }
    }
  }
}
