@import '../../style/index';

.svl-drawer {
  .ant-drawer-header {
    border-bottom: none !important;
  }

  .ant-drawer-footer {
    border: none;
  }

  .svl-drawer-footer {
    text-align: right;
  }

  .svl-drawer-close {
    cursor: pointer;
  }

  .svl-title {
    &::before {
      position: absolute;
      top: 24px;
      left: 0;
      display: inline-block;
      width: 3px;
      height: 24px;
      background: @primary-color;
      border-radius: 1.5px;
      content: '';
    }
  }
  .ant-btn.ant-btn-lg {
    min-width: 96px;
  }
}
